//$color: red;
//
////$font-stack: Helvetica, sans-serif;
//$primary-color: #333;
//
//
//body {
//  //font: 100% $font-stack;
//  color: $primary-color;
//}
//
//h1 {
//  color: $color;
//}

.some-class {
  color: red;
}